.container {
  padding-top: 1rem;
}

.button {
  color: var(--color);
  display: inline-block;
  border: 0;
  font-size: 14.4px;
  font-weight: 600;
  height: auto;
  line-height: 20px;
  overflow: hidden;
  padding: 15px 30px;
  position: relative;
  transition: color 0.2s ease-in-out;
  z-index: 0;
}

.button_whiteColor{
  border-color: var(--color);
  border: 2px solid;

  background: transparent;
  border-radius: 0;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
}

.button_whiteColor:hover{
  color: var(--bg);
  border-color: var(--color);
}

.button_whiteColor::before{
  background-color: var(--color);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-101%);
  transition: 0.2s ease-in-out;
  z-index: -1;
}

.button_whiteColor:hover::before{
    color: black;
  transform: translateX(0);
}

.button_greenColor{
  background-color: var(--salad);
}

.button_greenColor:active{
  background-color: #5e9e25;
}