.header {
  border-bottom: 1px solid var(--border);
  background-color: var(--bg);
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  width: 100%;
  min-height: 3.25rem;
}

.navbar__brand {
  padding-block: 0.5rem;
}

.navbar__menu {
  display: flex;
  position: relative;
  align-items: center;
  font-family: Metropolis, sans-serif;
  font-weight: 700;
  font-size: 0.95rem;
  gap: 40px;
}

.logo {
  width: 300px;
  color: var(--color);
}

.navbar__burger {
  display: none;
  height: 48px;
  width: 48px;
  cursor: pointer;
  z-index: 1;
}

.navbar__burger div {
  width: 24px;
  height: 2px;
  background-color: var(--color);
  transition: all 0.3s ease;
}

.navbar__burger.active .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.navbar__burger.active .line2 {
  transform: scaleX(0);
}

.navbar__burger.active .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.navbar__item {
  display: flex;
  height: 100%;
  position: relative;
}

.navbar__item span {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar__item span::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  border-bottom: 2px solid #111;
  border-left: 2px solid #111;
  border-radius: 1px;
  height: 0.5rem;
  width: 0.5rem;
  border-bottom-color: var(--color);
  border-left-color: var(--color);
  right: -18px;
}

.dropdown {
  opacity: 0;
  background-color: #131516;
  border-radius: 5px;
  position: absolute;
  transition:
    opacity 0.2s,
    transform 0.2s;
  z-index: 1;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  padding: 1rem;
  pointer-events: none;
  top: 100%;
  transform: translateY(-5px);
}

.dropdown li {
  display: flex;
}

@media screen and (min-width: 965px) {
.navbar__item:hover .dropdown,
.dropdown:hover {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
}

@media screen and (max-width: 965px) {
  .header {
    position: fixed;
    width: 100%;
    padding-left: 20px;
    z-index: 1;
  }

  .logo {
    width: 200px;
  }

  .navbar__burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }


  .navbar__item{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

  }
  
  .navbar__item span{
    border-bottom: 1px solid hsla(0, 0%, 100%, .4);
    width: 100%;
    font-size: 2rem;
    height: 60px;
    font-weight: 400;
    font-family: Open Sans, sans-serif;
    margin: 1rem 0;
  }

  .navbar__item span:hover{
    color: var(--salad);
  }


  
  .navbar__item span::after {
    border: solid #98afae;
    border-width: 0 2px 2px 0;
    transform: translateY(-50%) rotate(45deg);
    transition: transform .2s ease-out;
    top: initial;
    right: 10px;
    width: 15px;
    height: 15px;
  }

  .navbar__menu{
    gap: 5px;
  }

  .navbar__item.opened span::after{
    transform: translateY(-50%) rotate(-135deg);
  }

  .navbar__menu{
    flex-direction: column;
    padding: 3rem;
    position: fixed;
    left: 0;
    top: -100vh;
    height: 100vh;
    background: #191e1e;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    gap: 0;
    transition: top 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    z-index: 1;
  }

  .navbar__menu.open{
    overflow: hidden;
    top: 0;
   }

   .dropdown {
    background-color: unset;
    padding: 0;
    opacity: 0;
    transform: translateY(0);
    transition: none;
  }

  .dropdown.opened{
    opacity: 1;
    pointer-events: all;
    position: unset;
  }

}