.main__top {
  background: #262a2d;
}

@media screen and (max-width: 965px) {
  .main__top {
    padding-top: 64px;
  }
}
.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Metropolis, sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  padding: 1rem 0;
}

.description {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.2rem;
  max-width: 940px;
}

.markdown {
  max-width: 1344px;
  padding-bottom: 3rem;
  padding-top: 3rem;
}


.line {
  background: linear-gradient(45deg, #6db33f 26%, #80ea6e 89%);
  height: 6px;
}


.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-block: 3rem;
}

.list:has(.no_results) {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

@media screen and (max-width: 800px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}