.item {
  display: flex;
  flex-direction: column;
  padding: 25px 20px 30px;
  background-color: var(--border);
  border-radius: 5px;
  transform: translateY(0);
  transition: all 0.2s;
  height: 100%;
}

.item:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

.item p {
  padding-block: 0.75rem;
}

.item__description p {
  line-height: 1.7rem;
  color: hsla(0, 0%, 100%, 0.7);
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.item__header {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 10px;
  align-items: center;
  font-size: 24px;
}

.image {
  display: flex;
  max-width: 60px;
  padding-right: 10px;
}

.image img {
  max-height: 40px;
  max-width: 60px;
  height: auto;
  width: 100%;
}