.input__container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.error {
  color: #ff3333;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  min-height: 2em;
  width: 200px;
  text-wrap: wrap;
}