:root {
  --bg: #1b1f23;
  --color: #fff;
  --border: #2b2f33;
  --fc-border-color: #2b2f33;
  --fc-page-bg-color: #1b1f23;
  --fc-today-bg-color: #2b2f33;
  --salad: #6cb52d;
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: Open Sans, sans-serif;
  background-color: var(--bg);
  color: var(--color);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}
h1,
h2,
h3,
h4 {
  font-family: Metropolis, sans-serif;
}
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

@media screen and (min-width: 1216px) {
  .container:not(.is-max-desktop) {
    max-width: 1152px;
    padding-inline: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
    padding-inline: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding-inline: 20px;
  }
}

@media screen and (min-width: 1408px) {
  .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1344px;
    padding-inline: 20px;
  }
}
